<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dailyMapper">
	<select id="selectPath">
		SELECT file_path FROM daily
	</select>

	<select id="selectList">
		SELECT d.id, d.date, d.file_path, CONVERT(d.content USING utf8) AS content, s.sticker_path FROM daily AS d
		INNER JOIN sticker AS s
		ON d.sticker_id=s.id
		WHERE d.user_id=#{user_id} AND date_format(d.date, %M)=#{month}
	</select>

	<select id="selectItem">
		SELECT id, date, file_path, CONVERT(content USING utf8) AS content FROM daily WHERE id=#{id}
	</select>

	<insert id="insertItem">
		INSERT INTO daily (date, file_path, content, user_id, sticker_id) VALUES (#{date}, #{file_path}, #{content}, #{user_id}, #{sticker_id})
	</insert>

	<update id="updateItem">
		UPDATE daily SET file_path=#{file_path}, content=#{content}, sticker_id=#{sticker_id} WHERE id=#{id}
	</update>

	<delete id="deleteItem">
		DELETE FROM daily WHERE id=#{id}
	</delete>

	<delete id="deleteUser">
		DELETE FROM daily WHERE user_id=#{user_id}
	</delete>
</mapper>